// body {
//   background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
// }
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

// COLORS
// Primary
$linear-gradient-left: hsl(236, 72%, 79%);
$linear-gradient-right: hsl(237, 63%, 64%);

// Neutral
$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

body {
  background: $very-light-grayish-blue;
}

h1,
h2,
h3,
p,
button,
ul,
li,
input,
::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  font-size: 1.5rem;
}

h3 {
  color: #5e7a7d;
  font-size: 1.6rem;
}

input,
button {
  cursor: pointer;
}

input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-search-decoration,
input[type="number"]::-webkit-search-cancel-button,
input[type="number"]::-webkit-search-results-button,
input[type="number"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-for-mobile {
  display: none;
}
