*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}

body {
  background: #f6f6fe;
}

h1,
h2,
h3,
p,
button,
ul,
li,
input,
::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
p,
button,
ul,
li,
input,
:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
p,
button,
ul,
li,
input,
::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
p,
button,
ul,
li,
input,
::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 7.2rem;
  color: #494c5f;
}

h3 {
  font-size: 1.8rem;
  color: #6d708d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
button {
  cursor: pointer;
}

button {
  border: 0;
}

input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-search-decoration,
input[type="number"]::-webkit-search-cancel-button,
input[type="number"]::-webkit-search-results-button,
input[type="number"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-for-mobile {
  display: none;
}

.hide {
  display: none;
}

.hero-illustration-container {
  height: 0;
}

.hero-illustration-container .hero-illustration-top {
  background-image: url("/images/bg-top.svg");
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  height: 75.7rem;
  z-index: -10;
  top: -8.5rem;
  left: 50%;
}

.background-svg {
  position: absolute;
}

header {
  position: relative;
  width: 64%;
  margin: 6.4rem auto;
}

header h2 {
  text-align: center;
  font-size: 3.2rem;
  color: #6d708d;
  margin-bottom: 4.8rem;
}

header .header__payment-schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
}

header .header__payment-schedule .payment-schedule {
  color: #494c5f;
  opacity: 0.4;
}

header .header__payment-schedule .switch {
  position: relative;
  display: inline-block;
  width: 5.6rem;
  height: 3.2rem;
}

header .header__payment-schedule .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

header .header__payment-schedule .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header__payment-schedule .switch .slider:before {
  position: absolute;
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  right: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header__payment-schedule .switch input:checked + .slider {
  background: #ccc;
}

header .header__payment-schedule .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 0.1rem #ccc;
          box-shadow: 0 0 0.1rem #ccc;
}

header .header__payment-schedule .switch input:checked + .slider:before {
  -webkit-transform: translateX(-24px);
  transform: translateX(-24px);
}

header .header__payment-schedule .switch .slider.round {
  border-radius: 3.4rem;
}

header .header__payment-schedule .switch .slider.round:before {
  border-radius: 50%;
}

main .container {
  margin: 1.6rem 2.4rem 3.2rem 2.4rem;
  background: white;
  padding: 3.1rem 2.9rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px #b3b5c6;
          box-shadow: 0 5px 15px #b3b5c6;
}

main .container h3 {
  text-align: center;
}

main .container h1 {
  position: relative;
  text-align: center;
}

main .container h1 span {
  font-size: 4rem;
  position: relative;
  bottom: -50%;
  left: 0;
}

main .container ul {
  text-align: center;
  margin: 3.2rem 0;
}

main .container ul li {
  border-top: 1px rgba(179, 181, 198, 0.3) solid;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 1.8rem 0;
  color: #6d708d;
  font-size: 1.5rem;
}

main .container ul li:nth-child(3) {
  border-bottom: 1px rgba(179, 181, 198, 0.3) solid;
}

main .container button {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  color: white;
  width: 100%;
  height: 4.4rem;
  border-radius: 6px;
  letter-spacing: 0.139rem;
}

main .container__professional {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
}

main .container__professional h3 {
  color: white;
}

main .container__professional h1 {
  color: white;
}

main .container__professional h1 span {
  font-size: 4rem;
  position: relative;
  bottom: -50%;
  left: 0;
}

main .container__professional ul {
  text-align: center;
  margin: 3.2rem 0;
}

main .container__professional ul li {
  border-top: 1px rgba(255, 255, 255, 0.2) solid;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 1.8rem 0;
  color: white;
}

main .container__professional ul li:nth-child(3) {
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

main .container__professional button {
  background: white;
  color: #696fdd;
  width: 100%;
  height: 4.4rem;
  border-radius: 6px;
  letter-spacing: 0.139rem;
}

@media (min-width: 1300px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container {
    margin-left: 0;
    margin-right: 0;
  }
  main .container__professional {
    height: 50.1rem;
  }
  main .container__professional .subcontainer__professional {
    margin-top: 2.7rem;
  }
}
/*# sourceMappingURL=styles.css.map */